# Android
/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/captures

# Android Studio
/.idea/*.iml
/.idea/misc.xml
/.idea/modules
/.idea/vcs.xml
/.idea/codeStyles
/.idea/jarRepositories.xml
/.idea/gradle.xml
/.idea/localHistory
/.idea/assetWizardSettings.xml

.idea/

# Gradle
/.gradle
/build/

# Android Studio 4.1+
/captures/

# Proguard
/proguard-*/proguard-android.txt
/proguard-*/proguard-rules.pro
/proguard-*/proguard.cfg

# Logs
*.log
*.log.*

# Android Studio Navigation editor temp files
.navigation/

# Android Studio Virtual Device
.avd/

# Android Studio captures folder
captures/